<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="cuerpo">
    <div class="contenedor">
        <app-header></app-header>
        <div class="contenido">
            <div class="caja-main">
                <main></main>
            </div>
            <div class="caja-login">
                <app-login></app-login>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</body>
</html>

